Source: purple-slack
Maintainer: Patrice Levesque <purple-slack.wayne@ptaff.ca>
Section: net
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 13), libglib2.0-dev, libpurple-dev

Package: purple-slack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libpurple0
Description: Slack protocol plugin for libpurple
	Allows the purple IM library to connect to Slack servers.
